torch
torchaudio
librosa
numpy
torchvision
matplotlib
ipywidgets
tensorboard
more-itertools
complexPyTorch
mplcursors
tensorboard
typing-extensions
torch-tb-profiler
autopep8
auraloss
vastai
netron
b2
ffmpeg-python
zstd
lz4
torchcodec

